body {
  font-family:Helvetica;
}

h1 {
}

#scrollview {
  width:100%;
  max-width:500px;
  background:green;
	position:relative;
  overflow: hidden;
}


.indicator {
  background:rgba(0,0,0,0.4); 
  -webkit-border-radius:5px;
  position:absolute;
  opacity:0;
}
  .indicator.showing {
    opacity:1;
  }
.y-axis-indicator {
  width:5px;
  min-height:10px;
  top:0px;
  right:5px;
  margin:5px 0;
}
.x-axis-indicator {
  bottom:5px;
  margin:0 5px;
  height:5px;
}